.flat-list {
  @include flatList;
  margin-bottom: 20px;
  li {
    display: flex;
    padding: 1rem;
    > * {
      flex: 1 1 auto;
      width: 30%;
      &:nth-child(2) {
        width: 40%;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}
