:root {
  --default: rgb(204, 204, 204);
  --defaultBg: rgba(204, 204, 204, 0.2);
  --error: rgb(211, 47, 47);
  --errorBg: rgba(211, 47, 47, 0.1);
  --success: rgb(46, 125, 50);
  --successBg: rgba(46, 125, 50, 0.1);
  --info: rgb(2, 136, 209);
  --infoBg: rgba(2, 136, 209, 0.1);

  --primary-font: 'Albert Sans';
  --primary-color: #333333;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: var(--primary-font), system-ui, sans-serif;
  color: var(--primary-color);
}

@import 'mixins';

@import 'header.module';
@import 'footer.module';
@import 'loader.module';
@import 'flat-list';
@import 'alert-status';

body {
  font-family: 'Albert Sans', system-ui, sans-serif;
  color: black;
  margin: 0;
  min-width: 520px;
  min-height: 100vh;
}

main {
  margin: 0 auto;
  min-height: 320px;
  max-width: 960px;
  padding: 1rem;
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.list-header {
  background-color: #eee;
  font-weight: 700;
}

.highlight {
  font-weight: 900;
}

textarea {
  resize: none;
}

textarea {
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  letter-spacing: 1px;
  padding: 0.5rem;

  &:focus {
    outline: none;
    box-shadow: 2px 2px 6px 2px #ccc;
  }
}

button.primary {
  background-color: #e7e7e7;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  color: rgb(52, 52, 52);
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.5rem;
  transition: box-shadow 0.5s;
  max-width: 20rem;

  &:hover {
    box-shadow: 1px 1px 4px 2px #ccc inset;
  }

  &:focus {
    box-shadow: 1px 1px 4px 2px #ccc inset;
    outline: none;
  }
}

// MUI customisation
.MuiPaper-root.Mui-expanded {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(156, 163, 175, 0.5) 0px 10px 15px -3px,
    rgba(156, 163, 175, 0.5) 0px 4px 6px -4px;
  transition: all 0.25s;
}

.MuiAccordionSummary-root.Mui-expanded {
  background-color: lightskyblue;
  border-radius: 6px 6px 0 0;
}
